/* CSS declarations go here */
* {
  font-family: sans-serif;
}
.topbar_header_h1{
  font-family: serif;
  display: inline-block;
  font-size: 5em;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
}
.topbar_header a{
  margin-right: 5px;
  margin-left: 5px;
}

.topbar_header_navbar { 
  display: inline-block;
  font-size: 80%;
  margin-left: 5px;
}

.PageEditor_container {
  width: 500px;
}
.PageEditor_ul_toolbar {
  float: right;
  margin-bottom: 0;
  padding-bottom: 0;
}
.PageEditor_ul_toolbar li {
  border: 1px solid black;
  border-radius: 3px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 3px;
  font-size: 80%;
  padding: 3px;
}

footer {
  font-size: 50%;
  float: right;
  position: absolute;
  bottom: 5px;
}

textarea {
  width: 500px;
  height: 300px;
}
